<section class="block container">
  <header class="block__header">
    <h2>Highly effective social media strategies</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      magnam.
    </p>
  </header>
  <article class="grid grid1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simplicity</h3>
      <p>
        Simplicity is an important principle for us. Therefore, we believe in
        clarity in our strategies, which makes them both effective and easy to
        follow.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/simplicity.webp 1x, images/simplicity@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/simplicity.png 1x, images/simplicity@2x.png 2x" />
      <img class="feature__image" src="images/simplicity.png" alt=""
    /></picture>
  </article>

  <article class="grid grid1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Transparency</h3>
      <p>
        Transparency is an important part of our work. You have the opportunity
        to follow our activities, understand the decisions we make and see the
        results we achieve. We strive for openness and trust in our
        collaboration
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/transparency.webp 1x, images/transparency@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/transparency.png 1x, images/transparency@2x.png 2x" />
      <img class="feature__image" src="images/transparency.png" alt=""
    /></picture>
  </article>

  <article class="grid grid1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#growth"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Results</h3>
      <p>
        Achieving results is always our primary focus. By tailoring a digital
        strategy that is adapted to your needs, we ensure that your goals are
        achieved. Finally, we pride ourselves on offering timely insights and
        keeping you updated on the latest trends in digital marketing
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/results.webp 1x, images/results@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/results.png 1x, images/results@2x.png 2x" />
      <img class="feature__image" src="images/results.png" alt=""
    /></picture>
  </article>
</section>
