<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header footer__heading">
          <h2 class="collapsible__heading">Company</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
      </section>

      <section class="collapsible footer__section">
        <header class="collapsible__header footer__heading">
          <h2 class="collapsible__heading">Marketing Pricing & Costs</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Social Media Management</a></li>
            <li><a href="#">Short Video Management</a></li>
            <li><a href="#">Email Marketing</a></li>
            <li><a href="#">Affordable Digital</a></li>
          </ul>
        </div>
      </section>

      <section class="collapsible footer__section">
        <header class="collapsible__header footer__heading">
          <h2 class="collapsible__heading">Marketing guides</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Online Advertising</a></li>
            <li><a href="#">Web Marketing</a></li>
            <li><a href="#">Marketing Strategy Types</a></li>
            <li><a href="#">Promote Products Online</a></li>
          </ul>
        </div>
      </section>

      <section class="collapsible footer__section">
        <header class="collapsible__header footer__heading">
          <h2 class="collapsible__heading">Platform Marketing</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Facebook Marketing</a></li>
            <li><a href="#">Instagram Marketing</a></li>
            <li><a href="#">LinkedIn Marketing</a></li>
            <li><a href="#">Tiktok Marketing</a></li>
          </ul>
        </div>
      </section>

      <section class="footer__brand">
        <img class="footer__logo" src="images/logoscris.png" alt="" />
        <p class="footer_copywrigt">Copyrigt 2024 Perficient Media</p>
        <p class="footer__copywrigt">Baia Mare Romania</p>
      </section>
    </div>
  </footer>