<section class="block container block-questions">
  <header class="block__header">
    <h2>Common questions and answears</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
      veritatis est ea suscipit quidem nostrum?
    </p>
  </header>

  <div class="input-group">
    <input type="text" class="input" placeholder="Write questions here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-questions__tags">
    <li><span class="badge badge--secondary">What</span></li>
    <li>Where</li>
    <li>How</li>
    <li>When</li>
    <li>Who</li>
    <li>Why</li>
  </ul>
</section>
