<section class="block block--dark block-skewed-right block-showcase">
    <header class="block__header">
      <h2 class="block__heading">Why Choose Perficient Media?</h2>
    </header>
    <div class="container grid grid1x2">
      <picture class="block-showcase__image">
        <source
          type="image/webp"
          src="images/Showcase.webp 1x, images/Showcase@2x.webp 2x"
        />
        <source
          type="image/png"
          src="images/Showcase.png 1x, images/Showcase@2x.png 2x"
        />
        <img src="images/Showcase.png" alt="" />
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              </svg><svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Real Expertise</h3>
              <p>Start with results from the get go with the right strategy selection and execution to meet your needs.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              </svg><svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#clock"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Long Term Partner</h3>
              <p>Commit to growth with a partner who understands how to navigate marketing channels and scale.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              </svg><svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#computer"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Creative Content</h3>
              <p>Stunning social media posts showcasing your jewelry or informative blog articles spotlighting your craftsmanship.</p>
            </div>
          </div>
        </li>
      </ul>
      <img src="" alt="" />
    </div>
  </section>